<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>URL Shortener</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/retrieve">Lookup</a></li>
                <li><a href="/create">Create</a></li>
            </ul>
        </nav>
    </header>
    <h2>Shorten your URL</h2>
    <form action="/create" method="POST">
        <input type="url" name="url" placeholder="Enter URL to shorten" required>
        <input type="submit" value="Shorten">
    </form>

    {% if short_url %}
        <p>Shortened URL: <a href="/{{ short_url }}">http://localhost:5000/{{ short_url }}</a></p>
    {% endif %}
</body>
</html>
